// menggunakan teknik BEM
// Dalam SASS ada teknik BEM, yaitu Block Element and Modifier. Supaya lebih rapi dan mudah dibaca. Ada juga fitur / konsep nesting

.App { // Block
  text-align: center;
  .card { // Block
    height: 10rem;
    width: 5rem;
    background-color: yellow;
    &__image { // Element
      color: red;
    }
    &__heading { // Element
      color: blue;
    }
    &__paragraph { // Element
      color: green;
      &--normal { // Modifier
        font-weight: bold;
      }
      &--italic { // Modifier
        font-style: italic;
      }
    }
  }
  .btn { // Block
    width: 5rem;
    height: 2rem;
    padding: 5px 10px;
    &--primary { // Modifier
      background-color: blue;
    }
    &--secondary { // Modifier
      background-color: green;
    }
  }
}

